<div class="bg-container">
    <div class="container">
        <div class="container-fluid">
            <br>
        </div>

        <nav class="navbar navbar-expand-sm navbar-bg sticky-top">
            <div class="container-fluid d-md-flex flex-md-row">
                <a class="navbar-brand" href="#">
                    <img src="./assets/images/FirstAssurance.png" width="150" />
                </a>
            </div>
        </nav>
        <div class="home-conatiner">
            <div class="row mt-4">
                <div class="col-md-4 col-lg-4 col-xl-4 redirectStyle">
                    <img src="./assets/images/sessionTimeOut.png" style="width: 60%;">
                </div>
            </div>
            <div class="row">
                <div class="text-center text-primary">
                    <h2><a (click)="getLogin()" style="cursor: pointer;"><u>Redirect to Login Page</u></a></h2>
                </div>
            </div>
        </div>
    </div>
</div>