.mynav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
  // padding: 1rem 0;
}

.mynav-link {
  display: flex;
  border-radius: 50%;
  height: 30px;
  /* width: 30px; */
  justify-content: center;
  align-items: center;
  color: #1e3a8a;
  /* background-color: #dbd5d5; */
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

// .mynav-link {
//   display: flex;
//   border-radius: 50%;
//   height: 30px;
//   width: 30px;
//   justify-content: center;
//   align-items: center;
//   color: black;
//   background-color: #dbd5d5;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

// }

.mynav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.progress-line {
  display: flex;
  flex-direction: row;
  color: var(--logo-color-2);
  width: 25%;
}

.progress-line:after {
  content: "";
  flex: 1 1;
  margin: auto 5px;
  border-bottom: 2px solid #ccc;

}

.progress-line.menuactive:after {
  border-bottom: 2px solid darkblue;

}

.salama-stepper{
  display:flex;
  align-items:center;
  justify-content:center;
  list-style:none;
  padding:20px 0;
  margin:0;
}

.step-item{
  display:flex;
  align-items:center;
  position:relative;
}

.step-circle{

  width:23px;
  height:23px;
  border-radius:50%;
  background:#e6eef1;
  color:#607d8b;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:13px;
  font-weight:600;
}

.step-title{
  margin-left:8px;
  font-size:12px;
  color:#607d8b;
}

.step-line{

  width:120px;
  height:2px;
  background:#d0d7dc;
  margin:0 15px;
}

/* ACTIVE STEP */

.step-item.active .step-circle{

  background:#f5a623;
  color:#fff;
}

.step-item.active .step-title{

  color:#1B7B8A;
  font-weight:600;
}
