.country-selection .vision-grid-item {
  background-color: white;
  border-radius: .5rem;
  overflow: visible;
}


.country-selection.vision-grid {
  gap: 1rem;
}

.country-selection .vision-grid-item-title {
  padding: 1rem 1rem 0rem;
  font-size: 15px;
}

.country-selection .vision-grid-item-body {
  padding: .5rem;
}

.vision-grid-item:nth-child(3){
 grid-column: span 2;
}
.height-auto{
  height: auto;
}


@media screen and (min-width:1024px) and (max-width: 20000px) {
  .vision-grid-column-2{
    grid-template-columns: 1fr 1fr !important;
  }
  }
  
   /* iPads (portrait and landscape) ----------- */
   @media only screen 
   and (min-device-width : 701px) 
   and (max-device-width : 1024px) {
    .vision-grid-column-2{
      grid-template-columns: 1fr 1fr !important;
    }
   }
   
   /* iPads (landscape) ----------- */
   @media only screen 
   and (min-device-width : 768px) 
   and (max-device-width : 1024px) 
   and (orientation : landscape) {
    .vision-grid-column-2{
      grid-template-columns: 1fr 1fr !important;
    }
   }
  
  @media screen and (min-width: 280px) and (max-width: 750px) {
    .vision-grid-column-2{
      display: flex !important;
      flex-direction: column !important;
      //grid-template-columns: 1fr 1fr;
    }
  }
