


<div class="maan-card">
  <div class="maan-card-header">
    <div class="form-heading">
      <div class="form-heading-number">
        2
      </div>
      <div class="form-heading-text">
       Endorsement Type
     </div>
     </div>
  </div>
  <div class="maan-card-body">
    <div class="vision-grid vision-grid-column-2 country-selection">
      <div class="vision-grid-item">
        <div class="vision-grid-item-title">
          Non-Financial Endorsement
        </div>
        <div class="vision-grid-item-body">
          <div class="input-control-container">
            <div class="input-form-box">
              <span class="input-form-icon">
                <i class="fas fa-search"></i>
              </span>
              <input type="text" [(ngModel)]="searchText"  class="input-form-control with-icon search-input" placeholder="search...">
              <!--(keyup)="applyFilter($event)"-->
            </div>
          </div>
          <ul class="list-group checklist list-group-flush">
            <ng-container *ngFor="let item of nonFinancial | filter:searchText">
              <li class="list-group-item">
                <mat-checkbox class="example-margin" [(ngModel)]="item.isChecked">{{item?.EndtType}}</mat-checkbox>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="vision-grid-item">
        <div class="vision-grid-item-title">
          Financial Endorsement
        </div>
        <div class="vision-grid-item-body">
          <div class="input-control-container">
            <div class="input-form-box">
              <span class="input-form-icon">
                <i class="fas fa-search"></i>
              </span>
              <input type="text" [(ngModel)]="searchTexts" class="input-form-control with-icon search-input" placeholder="search...">
            </div>
          </div>
          <ul class="list-group checklist list-group-flush">
            <ng-container *ngFor="let item of financial | filter:searchTexts">
              <li class="list-group-item">
                <mat-checkbox class="example-margin" [(ngModel)]="item.isChecked" (change)="onChangeType(item)">{{item?.EndtType}}</mat-checkbox>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="vision-grid-item">
        <div class="vision-grid-item-title">
          {{isCancelRemarks?'Cancel Remarks':'Remarks'}}
        </div>
        <div class="vision-grid-item-body">
          <ng-container *ngIf="isCancelRemarks">
            <div class="d-sm-flex flex-sm-row">
              <div class="p-2">
                <div class="input-control-container">
                  <div class="input-form-box">
                    <textarea type="text" [(ngModel)]="cancelRemarks" class="input-form-control without-icon search-input height-auto" rows="3" placeholder="search..."></textarea>
                  </div>
                </div>
              </div>
              <div class="p-2">
                <div class="input-control-container">
                  <label class="input-form-label">Policy Issued Date</label>
                  <div class="input-form-box">

                    <input type="text" ngbDatepicker #d="ngbDatepicker" class="input-form-control without-icon"
                    [(ngModel)]="issueDate" (click)="d.toggle()" readonly>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!isCancelRemarks">
          <div class="input-control-container">
            <div class="input-form-box">
              <textarea type="text" [(ngModel)]="remarks" class="input-form-control without-icon search-input height-auto" rows="3" placeholder="search..."></textarea>
            </div>
          </div>
        </ng-container>

        </div>
      </div>
    </div>
  </div>
  <div class="maan-card-footer">
    <app-back-btn></app-back-btn>
    <button nbButton (click)="onSubmit()" shape="round" size="small" status="primary" class="mx-2">Submit</button>
  </div>
</div>
