.customer-search-box{
  display: none;
  position: static;
  background-color: #f9f9f9;
  width: 600px;
  // left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
  overflow: hidden;
  border-radius: .5rem;
  padding: .5rem;
}

.customer-search-container:hover .customer-search-box {
  display: block;
}

label.disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}
.table-container {
  width: 100%;
  overflow: auto;
}

.search-box {
  margin-bottom: 10px;
  width: 300px;
  display: block;
}