
  <div class="example-container">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container *ngFor="let col of columnHeader; let i = index" [matColumnDef]="col.key" [sticky]="col.sticky" [stickyEnd]="col.sticky">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >
        {{ columnHeader[i]["display"] }}
      </th>
      
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!col.config; else hasConfig">
          <ng-container *ngIf="columnHeader[i]['display']=='Commodity Name'">
              <div style="max-width: 400px;word-wrap: break-word;">
                  {{ element[col.key]}} 
              </div>
          </ng-container>
          <ng-container *ngIf="columnHeader[i]['display']!='Commodity Name'">
            {{ element[col.key]}} 
          </ng-container>
        </ng-container>
        <ng-template #hasConfig>
          <ng-container *ngIf="col.config.isCollapse">
            <button  nbButton shape="round" size="tiny" (click)="element.isClicked = !element.isClicked;onPassData(element,i);expandedElement = expandedElement === element ? null : element;">
             <ng-container *ngIf="element.CommodityNotInResponse">
              New
            </ng-container>
            {{col.config.isCollapseName}} <i class="fas fa-plus-circle mx-1"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="col.config.isMenuAction">
            <button class="text-warning" mat-icon-button [matMenuTriggerFor]="menus" aria-label="Example icon-button with a menu">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <mat-menu #menus="matMenu">
              <ng-container *ngFor="let item of col.config.menuList">
                <button mat-menu-item>
                  <span>{{item.name}}</span>
                </button>
              </ng-container>
            </mat-menu>
          </ng-container>
          <ng-container *ngIf="col.config.isView">
            <button class="circle btn btn-warning btn-sm" (click)="onView.emit(element)">
                <!--<i class="fas fa-eye" style='color: blue'></i>-->
                <i class="fa fa-file" aria-hidden="true"></i>
            </button>&nbsp;
        </ng-container>
        <ng-container *ngIf="col.config.isViews">
          <button class="circle btn btn-warning btn-sm" (click)="onViews.emit(element)">
              <i class="fas fa-eye" style='color: blue'></i>
          </button>&nbsp;
      </ng-container>

          <ng-container *ngIf="col.config.isDelete">
            <button class="circle btn btn-primary btn-sm" (click)="onDelete.emit(element)" style="background-color:grey">
              <!--<i class="fa-solid fa-user"></i>-->
              <i class="fa fa-trash"></i>
            </button>&nbsp;
        </ng-container>
          <ng-container *ngIf="col.config.isMoreView">
            <button mat-icon-button (click)="element.isClicked = !element.isClicked;onPassData(element);expandedElement = expandedElement === element ? null : element;">
            <!--<mat-icon>keyboard_arrow_down</mat-icon> -->
            <i class="fas fa-plus-circle mx-1"></i>
            </button>  
      </ng-container>
        </ng-template>
       
      </td>
    </ng-container>

   

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnHeader.length">
          <div class="example-element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
            <ng-container>
              <app-inner-table
              [cols]="innerColumnHeader"
              [data]="innerTableData"
              (isActionBtn)="isActionBtn.emit($event)" [no]="nan"
              >
              </app-inner-table>
            </ng-container>
          </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="keys"></tr>
    <tr mat-row *matRowDef="let element; columns: keys" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <table width="100%">
    <tr *ngIf="!dataSource.data.length">
        <td style="text-align: center" [attr.colspan]="columnHeader.length">
            No Records Found!
        </td>
    </tr>
  </table>
</div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
