<div [formGroup]="transportForm" class="bg-white p-3">

    <div class="ml-7">

        <div class="row">
            <div class="col-12 col-md-3 col-lg-3"></div>

            <!-- Mode of Transport -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="customer-search-container">
                    <div class="input-control-container">
                        <label class="input-form-label">Mode of Transport<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text" class="input-form-control without-icon" name="modeOfTransport"
                                formControlName="modeOfTransport">
                        </div>
                    </div>
                </div>
                <mat-error
                    *ngIf="transportForm.controls['modeOfTransport'].errors?.['required'] && (transportForm.controls['modeOfTransport'].dirty || transportForm.controls['modeOfTransport'].touched)">
                    Please Enter Mode of Transport</mat-error>

            </div>
            <!-- Mode of Transport -->
        </div>


        <div class="row">
            <div class="col-12 col-md-3 col-lg-3"></div>

            <!-- Core Application Code -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="customer-search-container">
                    <div class="input-control-container">
                        <label class="input-form-label">Core Application Code<span
                                class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text" class="input-form-control without-icon" name="coreApplicationCode"
                                formControlName="coreApplicationCode">
                        </div>
                    </div>
                </div>
                <mat-error
                    *ngIf="transportForm.controls['coreApplicationCode'].errors?.['required'] && (transportForm.controls['coreApplicationCode'].dirty || transportForm.controls['coreApplicationCode'].touched)">
                    Please enter Core Application Code</mat-error>
            </div>
        </div>


        <!-- Core Application Code -->

        <div class="row">

            <div class="col-12 col-md-3 col-lg-3"></div>


            <!-- REMARKS -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="customer-search-container">
                    <div class="input-control-container">
                        <label class="input-form-label">Display Order</label>
                        <div class="input-form-box">
                            <input type="text" class="input-form-control without-icon" name="displayorder" formControlName="displayorder">
                        </div>

                    </div>
                </div>
            </div>
            <!-- /REMARKS -->
        </div>


        <div class="row">

            <div class="col-12 col-md-3 col-lg-3"></div>


            <!-- REMARKS -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="customer-search-container">
                    <div class="input-control-container">
                        <label class="input-form-label">Remarks</label>
                        <div class="input-form-box">
                            <input type="text" class="input-form-control without-icon" name="remarks" formControlName="remarks">
                        </div>

                    </div>
                </div>
            </div>
            <!-- /REMARKS -->
        </div>


        <div class="row">
            <div class="col-12 col-md-3 col-lg-3"></div>

            <!-- STATUS -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="input-control-container">
                    <label class="input-form-label">Status<span class="text-required">*</span></label>
                    <div class="input-form-radio-box">
                        <div class="radio-toolbar">
                            <input id="fac-yes" type="radio" name="status" value="Y" formControlName="status">
                            <label for="fac-yes">Active</label>
                            <input type="radio" id="fac-no" name="status" value="N" formControlName="status">
                            <label for="fac-no">DeActive</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- STATUS -->

        </div>



    </div>


    <div class="mt-3 text-center">
        <button mat-raised-button style="margin-left: 10px;" color="accent" (click)="goBack()">Back</button>
        <button mat-raised-button style="margin-left: 20px" color="primary" (click)="onSave()">Save</button>
    </div>

</div>