
.imag-card {
    border-radius: 8px;
    cursor: pointer;
    color: white;
    padding: 1rem;
    background-color: #f1f1f1;
    position: relative;
    height: 120px;
    text-align: center;
    border: 3px dotted #ccc;
    width: 200px;
    margin: auto;
}