<form [formGroup]="brokerForm">
  <div class="row">
    <div class="col-12">
      <div class="middle-line">
         Broker Details
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Channel<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" [items]="dropChannelList" bindValue="id" bindLabel="name"
          formControlName="channel" (change)="onChangeChannel('change')">
        </ng-select>
        <div class="input-form-error" *ngIf="(brokerF.channel.errors && submitted) || (!brokerF.channel.valid && brokerF.channel.touched)">
          <div *ngIf="brokerF.channel.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
      <!--<div class="input-control-container" *ngIf="item =='No' ">
        <label class="input-form-label">Channel<span class="text-required">*</span></label>
        <ng-select placeholder="Select" disabled class="input-form-select" [items]="dropChannelList" bindValue="id" bindLabel="name"
        formControlName="channel" (change)="onChangeChannel('change')">
      </ng-select>
        <div class="input-form-error" *ngIf="(brokerF.channel.errors && submitted) || (!brokerF.channel.valid && brokerF.channel.touched)">
          <div *ngIf="brokerF.channel.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>-->
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Broker<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" [items]="dropBrokerList" [disabled]="checkBrokerDisabel()" bindValue="Code" bindLabel="CodeDescription"
          formControlName="borker" (change)="onChangeBroker()">
        </ng-select>
        <div class="input-form-error" *ngIf="(brokerF.borker.errors && submitted) || (!brokerF.borker.valid && brokerF.borker.touched)">
          <div *ngIf="brokerF.borker.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
