<ul class="mynav">
  <ng-container *ngFor="let item of stepperList;let i = index;let lastitem = last;">
    <li class="mynav-item"
    [style.width]="i !== stepperList.length - 1 ? '14%' : '0'"
    [ngClass]="[i !== stepperList.length - 1 ? 'progress-line' : '', item.isActive ? 'menuactive' : '']"
    >
      <a class="mynav-link" [routerLink]="[item?.url]" routerLinkActive="router-link-active" >
        {{item?.name}}
      </a>
    </li>
  </ng-container>
</ul>
<div class="stepper-components">
  <ng-container *ngIf="ProposalNo">
    <div class="proposal-card">
      Proposal Number<span class="mx-2">:</span>{{ProposalNo}}
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</div>
<!-- <button id="progress-prev" class="btn" disabled>Prev</button>
<button id="progress-next" class="btn">Next</button> -->

