<div class="country-picker-grid">

  <!-- LEFT: Excluded -->
  <div class="cp-panel">
    <div class="cp-panel-header">
      Country Of Destination <small><i>(Excluded)</i></small>
    </div>
    <div class="cp-search-wrap">
      <i class="pi pi-search"></i>
      <input pInputText type="text" [(ngModel)]="excludedCountrySearch" placeholder="Search country..." />
    </div>
    <ul class="cp-list">
      <li class="cp-list-item"
          *ngFor="let item of excludedCountry | countryFilter:excludedCountrySearch : excludedCountry">
        <input type="checkbox" [(ngModel)]="item.isDesti" [value]="item.CodeValue" />
        <span>{{ item?.CodeDescription }}</span>
      </li>
    </ul>
  </div>

  <!-- CENTRE: Action buttons -->
  <div class="cp-actions">
    <!-- Move selected -->
    <div class="cp-action-row">
      <button class="cp-action-btn" title="Move selected left"  (click)="onSelected('left')">
        <i class="pi pi-chevron-left"></i>
      </button>
      <div class="cp-action-btn label"><i class="pi pi-arrow-right-arrow-left"></i></div>
      <button class="cp-action-btn" title="Move selected right" (click)="onSelected('right')">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
    <!-- Move all -->
    <div class="cp-action-row">
      <button class="cp-action-btn" title="Move all left"  (click)="onMoveAll('left')">
        <i class="pi pi-angle-double-left"></i>
      </button>
      <div class="cp-action-btn label"><i class="pi pi-arrow-right-arrow-left"></i></div>
      <button class="cp-action-btn" title="Move all right" (click)="onMoveAll('right')">
        <i class="pi pi-angle-double-right"></i>
      </button>
    </div>
    <!-- African -->
    <div class="cp-action-row">
      <button class="cp-action-btn" title="Move African left"  (click)="onMoveGroupWise('africanCode','left',africanCode)">
        <i class="pi pi-angle-double-left"></i>
      </button>
      <div class="cp-action-btn label">African</div>
      <button class="cp-action-btn" title="Move African right" (click)="onMoveGroupWise('africanCode','right',africanCode)">
        <i class="pi pi-angle-double-right"></i>
      </button>
    </div>
    <!-- GCC -->
    <div class="cp-action-row">
      <button class="cp-action-btn" title="Move GCC left"  (click)="onMoveGroupWise('gccCode','left',gccCode)">
        <i class="pi pi-angle-double-left"></i>
      </button>
      <div class="cp-action-btn label">GCC</div>
      <button class="cp-action-btn" title="Move GCC right" (click)="onMoveGroupWise('gccCode','right',gccCode)">
        <i class="pi pi-angle-double-right"></i>
      </button>
    </div>
    <!-- CIS -->
    <div class="cp-action-row">
      <button class="cp-action-btn" title="Move CIS left"  (click)="onMoveGroupWise('cisCode','left',cisCode)">
        <i class="pi pi-angle-double-left"></i>
      </button>
      <div class="cp-action-btn label">CIS</div>
      <button class="cp-action-btn" title="Move CIS right" (click)="onMoveGroupWise('cisCode','right',cisCode)">
        <i class="pi pi-angle-double-right"></i>
      </button>
    </div>
  </div>

  <!-- RIGHT: Included -->
  <div class="cp-panel">
    <div class="cp-panel-header">
      Country Of Destination <small><i>(Included)</i></small>
    </div>
    <div class="cp-search-wrap">
      <i class="pi pi-search"></i>
      <input pInputText type="text" [(ngModel)]="includedCountrySearch" placeholder="Search country..." />
    </div>
    <ul class="cp-list">
      <li class="cp-list-item"
          *ngFor="let item of includedCountry | countryFilter:includedCountrySearch : includedCountry">
        <input type="checkbox" [(ngModel)]="item.isDesti" [value]="item.CodeValue" />
        <span>{{ item?.CodeDescription }}</span>
      </li>
    </ul>
  </div>

</div>

<div class="cp-submit-row">
  <button pButton type="button" label="Submit" icon="pi pi-check"
    class="p-button-rounded p-button-sm" (click)="onSubmit()"></button>
</div>
