<ng-container *ngIf="this.productId =='11' && opencoverno">
  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">
      <div class="d-sm-flex flex-sm-row justify-content-sm-between">
        <div class="p-1">Broker Name</div>
        <div class="p-1">{{headerDetails?.BrokerName}}</div>
      </div>
      <div class="d-sm-flex flex-sm-row justify-content-sm-between">
        <div class="p-1">Customer Name</div>
        <div class="p-1">{{headerDetails?.CustomerName}}</div>
      </div>
      <div class="d-sm-flex flex-sm-row justify-content-sm-between">
        <div class="p-1">OpenCover Number</div>
        <div class="p-1">{{headerDetails?.OpenCoverNo}}</div>
      </div>
    </li>
  </ul>
</ng-container>
<div class="maan-card customPadding">
  <ng-container *ngIf="showselectCard && setDocvalue!='back'  && setDocvalue!='referral' && setDocvalue!='edit' && setDocvalue!='openCover' && Endors!='Endors'">
    <div class="row"></div>
    <div class="row mt-3 mb-3">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="flex-center" style="margin-left: 125px;">
          <div class="product-container" style="cursor: pointer;">
            <div class="card text-center" style="max-width: fit-content; padding: 5px;" (click)="onSelectType(1)">
              <img style="width: 176px; height: 116px;" src="./assets/images/fileUpload.png" alt="Card" title="Card" />
              <p class="m-2"><b>File Upload</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="flex-center">
          <div class="product-container" style="cursor: pointer;">
            <div class="card text-center" style="max-width: fit-content; padding: 5px;" (click)="onSelectType(2)">
              <img style="width: 176px; height: 116px;" src="./assets/images/manualFill.jpg" alt="Card" title="Card" />
              <p class="m-2"><b>New Quote</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>

    </div>

  </ng-container>
  <ng-container *ngIf="showFileUpload == true && showNewQuote==false">
    <div class="row">
      <div class="col-12">
        <div class="middle-line">
          File Upload
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <!-- <div class="col-md-6">
        <input style="display: none;" type="file" (change)="onUploadDocument($event,'click')" #doc>
        <div class="imag-card my-3" appDragDropFileUpload (fileDropped)="onUploadDocument($event,'drop')"
          (click)="doc.click()">
          <div>
            <div class="center">
              <b class="text-dark">
                <i class="far fa-images"></i> Drag or Click</b>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-md-6">
        <input style="display: none;" accept=".pdf" type="file" (change)="onUploadDocument($event, 'click')" #doc>
        <div class="imag-card my-3" appDragDropFileUpload (fileDropped)="onUploadDocument($event, 'drop')"
          (click)="doc.click()">
          <div>
            <div class="center">
              <b class="text-dark">
                <i class="far fa-images"></i> Drag or Click
              </b>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-end">
        <button mat-raised-button style="margin-left: 10px;" color="accent" (click)="goBack()">Back</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="this.showNewQuote">
    <div class="maan-card-header">
      <div class="row">
        <div class="form-heading-text col-md-4 col-lg-4 col-4 col-xl-4">
        </div>
        <div class="col-md-4 col-lg-2 col-4 col-xl-4 offset-4 text-end" *ngIf="quoteNo">
          Quote No - {{quoteNo}}
        </div>
      </div>
    </div>
    <div class="maan-card-body">
      <ng-container *ngIf="(isIssuer && userDetails?.UserType !='admin') || setDocvalue=='referral'">
        <app-broker-form></app-broker-form>
      </ng-container>
      <app-customer-form></app-customer-form>
      <app-quote-form></app-quote-form>
      <app-bank-form></app-bank-form>
    </div>
    <div class="maan-card-footer">
      <button nbButton (click)="back()" shape="round" size="small" status="warning" class="mx-2">Back</button>
      <button nbButton (click)="onSaveQuote()" shape="round" size="small" status="primary" class="mx-2">Submit</button>
    </div>
  </ng-container>
</div>