.heading {
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.card-style,
.card-style1 {
  background: #ffffff;
  color: #000;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-style:hover,
.card-style1:hover {
  transform: scale(1.03);
}

.card-style h6,
.card-style1 h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #011b79;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: auto;
}

.card-item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.label {
  font-weight: 500;
  color: #000;
}

.value {
  font-weight: bold;
}
