
<app-orgin-country></app-orgin-country>
<app-dest-country></app-dest-country>
<app-customer-selection></app-customer-selection>
<app-commodity-selection></app-commodity-selection>
<ng-container *ngIf="showSection">
  <app-sale-term [tableData]="saleTermComponentmTableData"></app-sale-term>
</ng-container>

<div class="col-12" style="text-align:right">
  <button nbButton (click)="onMoveBack()" status="danger" class="mx-2">Back</button>
  <button nbButton (click)="onCheckPageValidation()" status="primary" class="mx-2">Next</button>
</div>
