<div class="maan-card">
  <div class="maan-card-header">
    <div class="form-heading">
      <div class="form-heading-number">
        1
      </div>
      <div class="form-heading-text">
       Exist Endorsement List
     </div>
     </div>
  </div>
  <div class="d-sm-flex flex-sm-row align-items-center justify-content-sm-between mb-3">
    <div class="p">
      <div class="input-control-container">
        <div class="input-form-box">
          <input type="text" class="input-form-control without-icon" [(ngModel)]="FilterValue" placeholder="Search">
        </div>
      </div>
    </div>
    <div class=""  ><!--*ngIf="userDetails.UserType != 'User'"-->
      <button nbButton shape="round" size="small" status="primary" [disabled]="isButton" class="mx-2"
        (click)="onNewEndorse()">New Endorsement</button>
    </div>
  </div>
  <app-material-table [cols]="columnHeader" [data]="tableData" (isActionBtn)="isActionBtn($event)">
  </app-material-table>
  <div class="maan-card-footer">
    <app-back-btn></app-back-btn>
  </div>
</div>
