.table-container{
  width: 100%;
  padding:24px
}

.grid-table{
  width: 100%;
}

.search-box{
  padding-top:24px;
  padding-left: 24px;
  padding-right: 24px;
}

.row{
  border : 1px solid rgba(0, 0, 0, 0.64);
}
