<div class="title-container bg-white p-4">
  <span>Issuer Management</span>
  <button  mat-raised-button color="primary" *ngIf="branchValue" (click)="goToAddNewPage()" style="float:right">Add new</button>
</div>
<div class="bg-white">

  <!-- SEARCH FIELD -->
  <mat-form-field class="search-box  px-4" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <div class="card-header m-4">
  <div class="col-4 col-md-4 col-lg-4 ml-3">
    <div class="input-control-container">
        <label class="input-form-label">Branch <span class="text-required">*</span></label>

        <ng-select class="input-form-select" appendTo="body" [items]="branchList"  [(ngModel)]="branchValue" (change)="getExistingIssuer()"  bindValue="BranchCode" bindLabel="BranchName">
        </ng-select>
    </div>
  </div>
  </div>
  <!-- /SEARCH FIELD -->
  <div class="col-12 col-md-12 col-lg-12">
    <ng-container *ngIf="issuerData">
        <app-grid-table [cols]="columnHeader" [data]="issuerData" [filterValue]="filterValue" (onEdit)="onEdit($event)">
        </app-grid-table>
    </ng-container>
    <ng-container *ngIf="!issuerData">
      <div class="text-center">
              No Data Available
      </div>
    </ng-container>
  </div>
  

  <!-- PAGINATOR -->
  <!-- <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator> -->
  <!-- /PAGINATOR -->
</div>
