.input-form-box .input-form-control {
    width: 40%;
    border: 1px solid #d9d9d9;
    border-radius: 0.7rem;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: all .3s;
    height: 35px;
}

.active-btn {
  background-color: #011b79 !important;  /* Primary highlight */
  color: #fff !important;               /* White text */
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
