<div class="bg-white">
    <!-- SEARCH FIELD -->
    <mat-form-field class="search-box px-4" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" class="mx-3">
    </mat-form-field>
    <!-- /SEARCH FIELD -->
    <ng-container *ngIf="tableData">
      <app-grid-table [cols]="columnHeader" [data]="tableData" [filterValue]="filterValue" (onEdit)="onEdit($event)" (onRating)="onRating($event)">
      </app-grid-table>
    </ng-container>
  
    <!-- PAGINATOR -->
    <!-- <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator> -->
    <!-- /PAGINATOR -->
  </div>
  