<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()" >
      <img src="./assets/images/alliance-img-1.png" class="imgwid">
    </a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <!-- <li class="dropdown" style="list-style-type: none !important;">
        <button class="btn btn-primary" style="cursor: not-allowed;">Live Environment</button>
        <ng-container >
              &nbsp;&nbsp;&nbsp;&nbsp;
        </ng-container>
      </li> -->
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-items" icon="grid-outline" (click)="onRoute()"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="userResponse?.LoginId"
               [picture]="user?.picture"
               nbContextMenuTag="my-context-menu">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
