<div class="top-bar">
  <div class="header-container">
    <div class="logo-container">
      <ng-container *ngIf="regionCode==='100046'">
        <a class="logo" (click)="homeRoute()"><img src="./assets/images/phoenixAlt.png" class="imgwid"></a>
      </ng-container>
      <ng-container *ngIf="regionCode==='100047'">
        <a class="logo" (click)="homeRoute()"><img src="./assets/images/cropped-botwa.png" class="imgwid"></a>
      </ng-container>
      <ng-container *ngIf="regionCode==='100048'">
        <a class="logo" (click)="homeRoute()"><img src="./assets/images/PhoenixMozambique.png" class="imgwid"></a>
      </ng-container>
      <ng-container *ngIf="regionCode==='100049'">
        <a class="logo" (click)="homeRoute()"><img src="./assets/images/cropped-swaziland.png" class="imgwid"></a>
      </ng-container>
      <ng-container *ngIf="regionCode==='100050'">
        <a class="logo" (click)="homeRoute()"><img src="./assets/images/cropped-NAMIBIA-LOGO-1.png" class="imgwid"></a>
      </ng-container>
      <a class="logo" (click)="homeRoute()" *ngIf="regionCode=='100002'"><img src="./assets/images/alliance-img-1.png"
          class="imgwid"></a>
      <a (click)="homeRoute()" *ngIf="regionCode=='100020'"><img src="./assets/images/FirstAssurance.png"
          class="imgwid"></a>
      <a (click)="homeRoute()" *ngIf="regionCode=='100044'"><img src="./assets/images/Orientlogo-removebg-preview.png"
          class="imgwidAlt"></a>
    </div>
  </div>
  <div class="header-container">
    <nb-actions size="small">
      <nb-action class="control-items" nbTooltip="Dashboard" style="color: #fff !important" icon="pie-chart-outline"
        (click)="DashbordRoute()">
      </nb-action>
      <nb-action class="control-items" style="color: #fff !important" icon="home-outline"
        (click)="homeRoute()"></nb-action>
      <nb-action class="control-items broker-dropdown" *ngIf="ProductId =='11' && userType=='admin'">
        <nb-select [(selected)]="selectedBranch" (selectedChange)="onBranchChange($event)" placeholder="Select Branch">
          <nb-option *ngFor="let branch of branchList" [value]="branch.BranchCode">{{ branch.BranchName }}</nb-option>
        </nb-select>
      </nb-action>

      <nb-action
        *ngIf="CommonApiUrl =='http://192.168.1.42:8086/' || CommonApiUrl =='http://197.254.65.234:8080/EwayCommonApi/' "
        class="control-item">
        <li class="dropdown" style="list-style-type: none !important;">
          <button class="btn btn-primary" style="cursor: not-allowed;">UAT Environment</button>
          <ng-container> &nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
        </li>
      </nb-action>
      <nb-action class="user-action" *nbIsGranted="['view', 'user']">
        <nb-user class="info-container" [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly"
          [name]="userResponse?.LoginId" [picture]="userPicture" nbContextMenuTag="my-context-menu">
        </nb-user>
      </nb-action>
    </nb-actions>



  </div>
</div>

<!-- <div *ngIf="checkCurrentRouting()" class="menu-wrapper">
  <nav class="navmenu menu" [class.mobile-nav-active]="isMobileMenuOpen">

    <div class="mobile-nav-toggle d-xl-none" (click)="toggleMobileMenu()">
      <nb-icon pack="eva" [icon]="isMobileMenuOpen ? 'close-outline' : 'menu-outline'" class="mobile-menu-icon">
      </nb-icon>
    </div>

    <ul>
      <ng-container *ngFor="let row of menu">

        <li *ngIf="!checkChildren(row)" (click)="onRedirectMenu(row)">
          <a>
            <nb-icon [icon]="row.icon"></nb-icon>
            <span>{{ row.title }}</span>
          </a>
        </li>

        <li *ngIf="checkChildren(row)" class="dropdown">
          <a>
            <nb-icon [icon]="row.icon"></nb-icon>
            <span>{{ row.title }}</span>
            <nb-icon icon="chevron-down-outline" style="font-size: 0.8rem; margin-left: 2px;"></nb-icon>
          </a>

          <ul>
            <li *ngFor="let sub of row.children" (click)="onRedirectMenu(sub)">
              <a>
                <nb-icon [icon]="sub.icon"></nb-icon>
                {{ sub.title }}
              </a>
            </li>
          </ul>
        </li>

      </ng-container>
    </ul>
  </nav>
</div> -->
<div class="menu-wrapper">
  <nav class="navmenu menu">
    <ul>
      <ng-container *ngFor="let row of menu">

        <li *ngIf="!checkChildren(row)" [class.active]="isActive(row.link)" (click)="onRedirectMenu(row)">
          <a>
            <nb-icon [icon]="row.icon"></nb-icon>
            <span>{{ row.title }}</span>
          </a>
        </li>

        <li *ngIf="checkChildren(row)" class="dropdown" [class.active]="isParentActive(row)">
          <a>
            <nb-icon [icon]="row.icon"></nb-icon>
            <span>{{ row.title }}</span>
            <nb-icon icon="chevron-down-outline" style="font-size: 0.8rem; margin-left: 2px;"></nb-icon>
          </a>

          <ul>
            <li *ngFor="let sub of row.children" [class.active]="isActive(sub.link)" (click)="onRedirectMenu(sub)">
              <a>
                <nb-icon [icon]="sub.icon"></nb-icon>
                <span>{{ sub.title }}</span>
              </a>
            </li>
          </ul>
        </li>

      </ng-container>
    </ul>
  </nav>
</div>

<!-- <div *ngIf="checkCurrentRouting()" class="menu-wrapper">
  <nav class="navmenu menu" [class.mobile-nav-active]="isMobileMenuOpen">

    <div class="mobile-nav-toggle d-xl-none" (click)="toggleMobileMenu()">
      <nb-icon pack="eva" [icon]="isMobileMenuOpen ? 'close-outline' : 'menu-outline'"
        class="mobile-menu-icon"></nb-icon>
    </div>

    <ul>
      <ng-container *ngFor="let row of menu">

        <li *ngIf="!checkChildren(row)" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          (click)="onRedirectMenu(row)">
          <a>
            <nb-icon [icon]="row.icon"></nb-icon>
            <span>{{ row.title }}</span>
          </a>
        </li>

        <li *ngIf="checkChildren(row)" class="dropdown" routerLinkActive="active">
          <a>
            <nb-icon [icon]="row.icon"></nb-icon>
            <span>{{ row.title }}</span>
            <nb-icon icon="chevron-down-outline" style="font-size: 0.8rem; margin-left: 2px;"></nb-icon>
          </a>

          <ul>
            <li *ngFor="let sub of row.children" routerLinkActive="active" (click)="onRedirectMenu(sub)">
              <a>
                <nb-icon [icon]="sub.icon"></nb-icon>
                {{ sub.title }}
              </a>
            </li>
          </ul>
        </li>

      </ng-container>
    </ul>
  </nav>
</div> -->

<!-- <div *ngIf="checkCurrentRouting()" class="menu-wrapper">
  <nav class="navmenu menu" [class.mobile-nav-active]="isMobileMenuOpen">


    <div class="mobile-nav-toggle d-xl-none" (click)="toggleMobileMenu()">
      <nb-icon pack="eva" [icon]="isMobileMenuOpen ? 'close-outline' : 'menu-outline'" class="mobile-menu-icon">
      </nb-icon>
    </div>

    <ul>
      <ng-container *ngFor="let row of menu">

        <li *ngIf="!checkChildren(row)" (click)="onRedirectMenu(row)">
          <a>
            <nb-icon [icon]="row.icon"></nb-icon>
            {{ row.title }}
          </a>
        </li>
        <li *ngIf="checkChildren(row)" class="dropdown">
          <a>
            <span>
              <nb-icon [icon]="row.icon"></nb-icon>
              {{ row.title }}
              <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
            </span>
          </a>

          <ul>
            <li *ngFor="let sub of row.children" (click)="onRedirectMenu(sub)">
              <a>
                <nb-icon [icon]="sub.icon"></nb-icon>
                {{ sub.title }}
              </a>
            </li>
          </ul>
        </li>

      </ng-container>
    </ul>

  </nav>
</div> -->