<div [formGroup]="saleTermForm" class="bg-white p-3">


    <div class="row">

        <!-- Sale Term Name -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Sale Term Name<span class="text-required">*</span></label>
            <div class="input-form-box">
              <input type="text" class="input-form-control without-icon" name="saleTermName" formControlName="saleTermName">
            </div>
          </div>
        </div>
        <mat-error
          *ngIf="saleTermForm.controls['saleTermName'].errors?.['required'] && (saleTermForm.controls['saleTermName'].dirty || saleTermForm.controls['saleTermName'].touched)">
          Please Enter Sale Term Name</mat-error>
      </div>
      <!-- Sale Term Name -->

      <!-- Sale Term Value -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Sale Term Value<span class="text-required">*</span></label>
            <div class="input-form-box">
              <input type="text" class="input-form-control without-icon" name="saleTermValue" formControlName="saleTermValue">
            </div>
          </div>
        </div>
        <mat-error
          *ngIf="saleTermForm.controls['saleTermValue'].errors?.['required'] && (saleTermForm.controls['saleTermValue'].dirty || saleTermForm.controls['saleTermValue'].touched)">
          Please Enter Sale Term Value</mat-error>
      </div>
      <!-- Sale Term Name -->
  
      
    </div>
  
    <div class="row">
      <!-- Core Application Code -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Core Application Code<span class="text-required">*</span></label>
            <div class="input-form-box">
              <input type="text" class="input-form-control without-icon" name="coreApplicationCode" formControlName="coreApplicationCode">
            </div>
          </div>
        </div>
        <mat-error
          *ngIf="saleTermForm.controls['coreApplicationCode'].errors?.['required'] && (saleTermForm.controls['coreApplicationCode'].dirty || saleTermForm.controls['coreApplicationCode'].touched)">
          Please enter Core Application Code</mat-error>
      </div>
      <!-- Core Application Code -->
  
      <!-- Remarks -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Remarks</label>
            <div class="input-form-box">
              <input type="text" class="input-form-control without-icon" name="remarks" formControlName="remarks">
            </div>
  
          </div>
        </div>
      </div>
      <!-- Remarks -->
    </div>

    <div class="row">

      <!-- effective date -->
    <!-- <div class="col-12 col-md-6 col-lg-6">
      <mat-form-field appearance="fill">
        <mat-label>Effective Date*</mat-label>
        <input matInput [matDatepicker]="picker" [min]="min" name="effectiveDate" formControlName="effectiveDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div> -->
    <!-- effective date -->
       
        <!-- STATUS -->
        <div class="col-12 col-md-6 col-lg-6">
          <div class="customer-search-container">
              <div class="input-control-container">
                  <label class="input-form-label">Effective Date</label>
                  <div class="input-form-box">
                      <mat-form-field appearance="fill">
                          <input matInput [matDatepicker]="picker" [min]="min" formControlName="EffectiveDateStart">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </div>
    
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="input-control-container">
          <label class="input-form-label">Status<span class="text-required">*</span></label>
          <div class="input-form-radio-box">
            <div class="radio-toolbar">
              <input id="fac-yes" type="radio" name="status" value="Y" formControlName="status">
              <label for="fac-yes">Active</label>
              <input type="radio" id="fac-no" name="status" value="N" formControlName="status">
              <label for="fac-no">DeActive</label>
            </div>
          </div>
        </div>
      </div>

    </div>

      
  
    <div class="mt-3 text-center">
        <button mat-raised-button style="margin-left: 10px;" color="accent" (click)="goBack()">Back</button>
        <button mat-raised-button style="margin-left: 20px" color="primary" (click)="onSave()">Save</button>
    </div>
    
  
  </div>