
.imag-card {
    border-radius: 8px;
    cursor: pointer;
    color: white;
    padding: 1rem;
    background-color: #f1f1f1;
    position: relative;
    height: 120px;
    text-align: center;
    border: 3px dotted #ccc;
    width: 200px;
    margin: auto;
}
.imag-card {
    border-radius: 8px;
      cursor: pointer;
      color: white;
      padding: 1rem;
      background-color: #f1f1f1;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }