<div [formGroup]="coverForm" class="bg-white p-3">
    <div class="row">
        <!-- MODE OF TRANSPORT -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="input-control-container">
                <label class="input-form-label">
                    Mode of transport
                    <span class="text-required">*</span>
                </label>
                <ng-select class="input-form-select" name="ModeOfTransportId" formControlName="ModeOfTransportId"
                    [items]="transportList" bindValue="Code" bindLabel="CodeDescription"></ng-select>
            </div>
            <mat-error
                *ngIf="coverForm.controls['ModeOfTransportId'].errors?.['required'] && (coverForm.controls['ModeOfTransportId'].dirty || coverForm.controls['ModeOfTransportId'].touched)">
                Please choose mode of transport
            </mat-error>
        </div>
        <!-- MODE OF TRANSPORT -->

        <!-- Cover Name -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="customer-search-container">
                <div class="input-control-container">
                    <label class="input-form-label">
                        Cover Name
                        <span class="text-required">*</span>
                    </label>
                    <div class="input-form-box">
                        <input type="text" class="input-form-control without-icon" name="coverName"
                            formControlName="coverName" />
                    </div>
                </div>
            </div>
            <mat-error
                *ngIf="coverForm.controls['coverName'].errors?.['required'] && (coverForm.controls['coverName'].dirty || coverForm.controls['coverName'].touched)">
                Please choose Cover Name
            </mat-error>
        </div>
        <!-- Cover Name -->
    </div>

    <div class="row">
        <!-- Cover Description -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="customer-search-container">
                <div class="input-control-container">
                    <label class="input-form-label">
                        Cover Description
                        <span class="text-required">*</span>
                    </label>
                    <div class="input-form-box">
                        <input type="text" class="input-form-control without-icon" name="coverDescription"
                            formControlName="coverDescription" />
                    </div>
                </div>
            </div>
            <mat-error
                *ngIf="coverForm.controls['coverDescription'].errors?.['required'] && (coverForm.controls['coverDescription'].dirty || coverForm.controls['coverDescription'].touched)">
                Please choose Cover Description
            </mat-error>
        </div>
        <!-- Cover Description -->

        <!-- Cover Rate -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="customer-search-container">
                <div class="input-control-container">
                    <label class="input-form-label">
                        Cover Rate
                        <span class="text-required">*</span>
                    </label>
                    <div class="input-form-box">
                        <input type="text" class="input-form-control without-icon" name="coverRate"
                            formControlName="coverRate" />
                    </div>
                </div>
            </div>
            <mat-error
                *ngIf="coverForm.controls['coverRate'].errors?.['required'] && (coverForm.controls['coverRate'].dirty || coverForm.controls['coverRate'].touched)">
                Please choose Cover Rate
            </mat-error>
        </div>
        <!-- Cover Rate -->


    </div>

    <div class="row">

        <!-- CORE APPLICATION CODE -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="customer-search-container">
                <div class="input-control-container">
                    <label class="input-form-label">
                        Core application code
                        <span class="text-required">*</span>
                    </label>
                    <div class="input-form-box">
                        <input type="text" class="input-form-control without-icon" name="coreApplicationCode"
                            formControlName="coreApplicationCode" />
                    </div>
                </div>
                <mat-error
                    *ngIf="coverForm.controls['coreApplicationCode'].errors?.['required'] && (coverForm.controls['coreApplicationCode'].dirty || coverForm.controls['coreApplicationCode'].touched)">
                    Please choose core application code
                </mat-error>
            </div>
        </div>
        <!-- /CORE APPLICATION CODE -->

        <!-- REMARKS -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="customer-search-container">
                <div class="input-control-container">
                    <label class="input-form-label">Remarks</label>
                    <div class="input-form-box">
                        <input type="text" class="input-form-control without-icon" name="remarks"
                            formControlName="remarks" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /REMARKS -->



    </div>


    <div class="row">

        <!-- effective date -->
        <!--<div class="col-12 col-md-6 col-lg-6">
            <div class="input-control-container">
                <label class="input-form-label">Effective Date</label>
                <div class="input-form-box">
                    <input type="text" ngbDatepicker #d2="ngbDatepicker" class="input-form-control without-icon"
                        name="effectiveDate" formControlName="effectiveDate" (click)="d2.toggle()"
                        [minDate]="minDate" autocomplete="off" />
                </div>
            </div>
        </div>-->

        <div class="col-12 col-md-6 col-lg-6">
            <div class="input-control-container">
                <mat-form-field appearance="fill">
                    <mat-label>EffectiveDate<span class="text-danger">*</span></mat-label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="effectiveDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <!-- effective date -->

        <!-- Referral Status -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="input-control-container">
                <label class="input-form-label">
                    Referral Status
                    <span class="text-required">*</span>
                </label>
                <div class="input-form-radio-box">
                    <div class="radio-toolbar">
                        <input id="ref-yes" type="radio" name="refStatus" value="Y" formControlName="refStatus" />
                        <label for="ref-yes">Yes</label>
                        <input type="radio" id="ref-no" name="refStatus" value="N" formControlName="refStatus" />
                        <label for="ref-no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Referral Status -->


    </div>

    <div class="row">
        <!-- STATUS -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="input-control-container">
                <label class="input-form-label">
                    Status
                    <span class="text-required">*</span>
                </label>
                <div class="input-form-radio-box">
                    <div class="radio-toolbar">
                        <input id="fac-yes" type="radio" name="status" value="Y" formControlName="status" />
                        <label for="fac-yes">Active</label>
                        <input type="radio" id="fac-no" name="status" value="N" formControlName="status" />
                        <label for="fac-no">DeActive</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- STATUS -->
    </div>

    <div class="mt-3 text-center">
        <button mat-raised-button style="margin-left: 10px;" color="accent" (click)="goBack()">
            Back
        </button>
        <button mat-raised-button style="margin-left: 20px;" color="primary" (click)="onSave()">
            Save
        </button>
    </div>
</div>