.vision-grid{
  margin: 1rem 0 ;
}
.vision-grid .vision-grid-item {
 background-color: white;
 padding: .5rem;
}
.vision-grid-item-title{
  padding: 0.5rem;
  font-weight: 600;
}

.example-margin {
  margin: 0 10px;
}
.coverage-info{
  background-color: white;
    font-size: 90%;
    border-radius: .5rem;
}
.coverage-title{
  padding: 1rem;
  background-color: ghostwhite;
  color: darkblue;
}
.coverage-body{
  padding: 1rem;
}
