.login-grid{
  display: flex;
  height: 100vh;
  height: var(--doc-height) !important;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.login-grid-item{
  // width: 60%;
  //height: 500px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
  background-color: #fff;
}
.login-grid-item-title{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.logo-img img{
  width: 240px;
}
@media (max-width: 800px) {
  .login-grid-item-title {
    flex-direction: column;
  }
  .logo-img img{
    width: 240px;
  }
}
.login-grid-item-body{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.login-menu .radio-toolbar label{
  border: 0;
  background-color: #fff;
  font-family: var(--our-font-family);
  font-weight: 400;
  color: #c1c1c1;
}
.login-menu .radio-toolbar input[type="radio"]:checked+label {
  font-weight: 400;
  background-color: #fff;
  color: var(--logo-color-2);
  border-bottom: 3px solid var(--logo-color-2);
}

@media screen and (min-width:1024px) and (max-width: 20000px) {

 .login-grid-item{
  width: 60% !important;
   height: 500px !important;
}
.login-component{
  width:50%;
}
}

 /* iPads (portrait and landscape) ----------- */
 @media only screen 
 and (min-device-width : 701px) 
 and (max-device-width : 1024px) {

  .login-grid-item{
    width: 80% !important;
     height: auto !important;
  }
  .login-component{
    width:100%;
  }
 }
 
 /* iPads (landscape) ----------- */
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
 and (orientation : landscape) {
    
 .login-grid-item{
  width: 80% !important;
   height: auto !important;
}
.login-component{
  width:100%;

}
 }

@media screen and (min-width: 280px) and (max-width: 750px) {
  .login-grid-item{
    width: 90% !important;
    height:auto !important;
  }
  .login-component{
    width:100%;
    overflow:hidden !important;
    //height: calc(100vh - 100%) !important;
    height:60vh !important;
  }
}