<form [formGroup]="quoteForm" #formDirective="ngForm">
  <div class="row">
    <div class="col-12">
      <div class="middle-line">
        Transport Details
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Mode of transport<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" formControlName="modeOfTransport" [items]="dropTransportList"
          bindValue="Code" bindLabel="CodeDescription" (change)="onGetCoverDropdownList()">
        </ng-select>
        <div class="input-form-error" *ngIf="(quoteF.modeOfTransport.errors && submitted) || (!quoteF.modeOfTransport.valid && quoteF.modeOfTransport.touched)">
          <div *ngIf="quoteF.modeOfTransport.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Cover<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" formControlName="cover" [items]="dropCoverList" bindValue="Code"
          bindLabel="CodeDescription" (change)="onGetCarriageDropdownList()">
        </ng-select>
        <div class="input-form-error" *ngIf="(quoteF.cover.errors && submitted) || (!quoteF.cover.valid && quoteF.cover.touched)">
          <div *ngIf="quoteF.cover.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Mode of carriage<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" formControlName="modeOfCarriage" [items]="dropCarriageList"
          bindValue="Code" bindLabel="CodeDescription">
        </ng-select>
        <div class="input-form-error" *ngIf="(quoteF.modeOfCarriage.errors && submitted) || (!quoteF.modeOfCarriage.valid && quoteF.modeOfCarriage.touched)">
          <div *ngIf="quoteF.modeOfCarriage.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Originating country<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" formControlName="originatingCountry" [items]="dropOriginCountryList"
          bindValue="Code" bindLabel="CodeDescription" (change)="onGetOriginCityDropdownList()">
        </ng-select>
        <div class="input-form-error" *ngIf="(quoteF.originatingCountry.errors && submitted) || (!quoteF.originatingCountry.valid && quoteF.originatingCountry.touched)">
          <div *ngIf="quoteF.originatingCountry.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label d-flex">
         <span class="mx-2">Originating city</span>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch1" formControlName="orginatingCityOtherYN">
            <label class="custom-control-label" for="switch1">Other City</label>
          </div>
        </label>
        <div class="input-form-box">
          <ng-container *ngIf="!quoteF.orginatingCityOtherYN.value">
            <ng-select placeholder="Select" [clearable]="true" [closeOnSelect]="true" class="input-form-select" formControlName="originatingCity" [items]="dropOriginCityList"
            bindValue="Code" bindLabel="CodeDescription">
           </ng-select>
          </ng-container>
           <ng-container *ngIf="quoteF.orginatingCityOtherYN.value">
              <input type="text" class="input-form-control without-icon" placeholder="Enter City here.." formControlName="orginatingCityOther">
           </ng-container>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Originating warehouse</label>
        <div class="input-form-radio-box">
          <div class="radio-toolbar">
            <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" value="YES"
              formControlName="originatingWarehouse">
            <label for="orginwarehouse_Yes">Yes</label>
            <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" value="NO"
              formControlName="originatingWarehouse">
            <label for="orginwarehouse_No">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Destination country<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" formControlName="destinationCountry" [items]="dropDestinaCountryList"
          bindValue="Code" bindLabel="CodeDescription" (change)="onGetDestinaCityDropdownList()">
        </ng-select>
        <div class="input-form-error" *ngIf="(quoteF.destinationCountry.errors && submitted) || (!quoteF.destinationCountry.valid && quoteF.destinationCountry.touched)">
          <div *ngIf="quoteF.destinationCountry.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label d-flex">
         <span class="mx-2">Destination city</span>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch2" formControlName="destinationOtherYN">
            <label class="custom-control-label" for="switch2">Other City</label>
          </div>
        </label>
        <div class="input-form-box">
          <ng-container *ngIf="!quoteF.destinationOtherYN.value">
            <ng-select placeholder="Select" [clearable]="true" [closeOnSelect]="true" class="input-form-select" formControlName="destinationCity" [items]="dropDestinaCityList"
          bindValue="Code" bindLabel="CodeDescription">
        </ng-select>
          </ng-container>
           <ng-container *ngIf="quoteF.destinationOtherYN.value">
              <input type="text" class="input-form-control without-icon" placeholder="Enter City here.." formControlName="destinationCityOther">
           </ng-container>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Destination Warehouse</label>
        <div class="input-form-radio-box">
          <div class="radio-toolbar">
            <input id="destwarehouse_Yes" type="radio" name="destinationWarehouse" value="YES"
              formControlName="destinationWarehouse">
            <label for="destwarehouse_Yes">Yes</label>
            <input type="radio" id="destwarehouse_No" name="destinationWarehouse" value="NO"
              formControlName="destinationWarehouse">
            <label for="destwarehouse_No">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Policy start date<span class="text-required">*</span></label>
        <div class="input-form-box">
          <input type="text" ngbDatepicker #d2="ngbDatepicker" class="input-form-control without-icon"
            formControlName="policyStartDate" (click)="d2.toggle()" readonly [maxDate]="maxDate">
          <div class="input-form-error" *ngIf="(quoteF.policyStartDate.errors && submitted) || (!quoteF.policyStartDate.valid && quoteF.policyStartDate.touched)">
            <div *ngIf="quoteF.policyStartDate.errors?.required" class="error-text">
              This field is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Via</label>
        <div class="input-form-box">
          <input type="text" class="input-form-control without-icon" formControlName="via">
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <div *ngIf="userDetails?.RegionCode=='100019'"><label class="input-form-label">PVT Cover</label> </div>
        <div *ngIf="userDetails?.RegionCode!='100019'"><label class="input-form-label">War Cover</label> </div>
        <div class="input-form-radio-box">
          <div class="radio-toolbar">
            <input id="warsrcc_Yes" type="radio" name="warSrcc" value="YES" formControlName="warSrcc">
            <label for="warsrcc_Yes" [ngClass]="warStatus =='N'?'disabled':'enabled'">Yes</label>
            <input type="radio" id="warsrcc_No" name="warSrcc" value="NO" formControlName="warSrcc">
            <label for="warsrcc_No" [ngClass]="warStatus =='N'?'disabled':'enabled'">No</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-4 mt-1" *ngIf="userDetails?.RegionCode=='100020'">
      <div class="input-control-container">
        <label class="input-form-label">Transhipment</label>
        <div class="input-form-radio-box">
          <div class="radio-toolbar">
            <input id="Transhipment_Yes" type="radio" name="Transhipment" value="Y" formControlName="TranshipmentYN">
            <label for="Transhipment_Yes">Yes</label>
            <input type="radio" id="Transhipment_No" name="Transhipment" value="N" formControlName="TranshipmentYN">
            <label for="Transhipment_No">No</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-4 mt-1" *ngIf="userDetails?.RegionCode=='100020'">
      <div class="input-control-container">
        <label class="input-form-label">Storage Period (>60 days)</label>
        <div class="input-form-radio-box">
          <div class="radio-toolbar">
            <input id="StoragePeriod_Yes" type="radio" name="StoragePeriod" value="Y" formControlName="StoragePeriodYn">
            <label for="StoragePeriod_Yes">Yes</label>
            <input type="radio" id="StoragePeriod_No" name="StoragePeriod" value="N" formControlName="StoragePeriodYn">
            <label for="StoragePeriod_No">No</label>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">PVT on Land</label>
        <div class="input-form-radio-box">
          <div class="radio-toolbar">
            <input id="warland_Yes" type="radio" name="warOnLand" value="YES" formControlName="warOnLand">
            <label for="warland_Yes">Yes</label>
            <input type="radio" id="warland_No" name="warOnLand" value="NO" formControlName="warOnLand">
            <label for="warland_No">No</label>
          </div>
        </div>
      </div> 
    </div> -->

    
    <!-- <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Settling agent</label>
        <ng-select placeholder="Select" class="input-form-select" formControlName="settlingAgent" [items]="dropSettlingAgentCityList"
          bindValue="Code" bindLabel="CodeDescription">
        </ng-select>
      </div>
    </div> -->
    <ng-container *ngIf="quoteF.settlingAgent.value === '9999'">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Others</label>
          <div class="input-form-box">
            <input type="text" class="input-form-control without-icon" formControlName="others">
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-12">
      <div class="middle-line">
        Commodity Details
      </div>
    </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Goods Category<span class="text-required">*</span></label>
          <ng-select placeholder="Select" class="input-form-select" formControlName="goodsCategory" [items]="dropGoodsOfCateList"
            bindValue="Code" bindLabel="CodeDescription">
          </ng-select>
        </div>
      </div>
      
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Insured Value<span class="text-required">*</span></label>
          <div class="input-form-box">
            <input type="text" class="input-form-control without-icon" (keyup)="CommaFormatteds()" formControlName="insuredValue" [value]="quoteF.insuredValue.value | commaseparator">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Currency<span class="text-required">*</span></label>
          <div class="currency-flex">
            <div class="currrency-drop">
              <ng-select placeholder="Select" class="input-form-select" formControlName="currency" [items]="dropCurrencyList"
                bindValue="Code" bindLabel="CodeDescription" (change)="onChangeCurrencyDrop()">
              </ng-select>
            </div>
            <div class="currrency-dollar">
              <div class="input-control-container">
                <div class="input-form-box">
                  <input type="text" class="input-form-control4 without-icon" formControlName="currencyValue"
                    [value]="quoteF.currency.value | currency: dropCurrencyList">
                </div>
              </div>
            </div>

          </div>
          <div class="input-form-error" *ngIf="(quoteF.currency.errors && submitted) || (!quoteF.currency.valid && quoteF.currency.touched)">
            <div *ngIf="quoteF.currency.errors?.required" class="error-text">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Package description<span class="text-required">*</span></label>
          <ng-select placeholder="Select" class="input-form-select" formControlName="packageDescription"
            [items]="dropPackageDescList" bindValue="Code" bindLabel="CodeDescription">
          </ng-select>
          <div class="input-form-error" *ngIf="(quoteF.packageDescription.errors && submitted) || (!quoteF.packageDescription.valid && quoteF.packageDescription.touched)">
            <div *ngIf="quoteF.packageDescription.errors?.required" class="error-text">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Conveyance | Vessel name</label>
          <div class="currency-flex">
            <div class="currrency-drop2 input-form-box">
              <input type="text" class="input-form-control2 with-icon" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="vesselValue" placeholder="Enter Vessel Name"
               >
            </div>
            <div class="currrency-dollar">
              <button class="btn btn-secondary" (click)="vessel(myModal2)" style="border-radius: 3px;padding: 5px;margin-top: 6px;"><i class="fas fa-search"></i></button>

            </div>
             <div class="input-form-box" style="margin-left:-20px!important;width:40px !important">
                <input type="text" class="input-form-control5 with-icon" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="ManufactureYear" placeholder="Year">
                <!--(keyup)="numberOnly($event)"-->
              </div>
          </div>
         
          <!-- <div class="input-form-box">
            <input type="text" class="input-form-control without-icon" formControlName="conveyanceVesselName">
          </div> -->
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Container Number</label>
          <div class="input-form-box">
            <input type="text" class="input-form-control without-icon" formControlName="voyageNumber">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Incoterms<span class="text-required">*</span></label>
          <ng-select placeholder="Select" class="input-form-select" formControlName="incoterms" [items]="dropIncotermsList"
            bindValue="Code" bindLabel="CodeDescription" (change)="onGetIncotermsPrecentDropdownList()">
          </ng-select>
          <div class="input-form-error" *ngIf="(quoteF.incoterms.errors && submitted) || (!quoteF.incoterms.valid && quoteF.incoterms.touched)">
            <div *ngIf="quoteF.incoterms.errors?.required" class="error-text">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Incoterms<i>(Percentage)</i><span class="text-required">*</span></label>
          <ng-select placeholder="Select" class="input-form-select" formControlName="incotermsPercentage"
            [items]="dropIncotermsPrecentList" bindValue="Code" bindLabel="CodeDescription" (change)="onGetToleranceDropdownList()">
          </ng-select>
          <div class="input-form-error" *ngIf="(quoteF.incotermsPercentage.errors && submitted) || (!quoteF.incotermsPercentage.valid && quoteF.incotermsPercentage.touched)">
            <div *ngIf="quoteF.incotermsPercentage.errors?.required" class="error-text">
              This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Tolerance</label>
          <ng-select placeholder="Select" class="input-form-select" formControlName="tolerance" [items]="dropToleranceList"
            bindValue="Code" bindLabel="CodeDescription">
          </ng-select>
        </div>
      </div>
      
     
      <!-- <div class="col-12 col-md-4 col-lg-4" *ngIf="productId!='11' && productId!=11">
        <div class="input-control-container">
          <label class="input-form-label">Partial shipment</label>
          <ng-select placeholder="Select" class="input-form-select" formControlName="partialShipment" [items]="dropPartialShipList"
            bindValue="Code" bindLabel="CodeDescription">
          </ng-select>
        </div>
      </div>
      <ng-container *ngIf="(quoteF.partialShipment.value !== 'N' && productId!='11' && productId!=11)">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Exposure of shipment</label>
          <div class="input-form-box" (keyup)="ExposureFormatteds()">
            <input type="text" class="input-form-control without-icon" formControlName="exposureOfShipment" [value]="quoteF.exposureOfShipment.value | commaseparator">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Currency of exposure</label>
          <div class="currency-flex">
            <div class="currrency-drop">
              <ng-select placeholder="Select" class="input-form-select" formControlName="currencyOfExposure" [items]="dropCurrencyList"
                bindValue="Code" bindLabel="CodeDescription">
              </ng-select>
            </div>
            <div class="currrency-dollar">
              <div class="input-control-container">
                <div class="input-form-box">
                  <input type="text" class="input-form-control2 without-icon"
                    [value]="quoteF.currencyOfExposure.value | currency: dropCurrencyList" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </ng-container> -->
     <div class="col-12 col-md-4 col-lg-4">
      <div class="input-control-container">
        <label class="input-form-label">Premium Currency<span class="text-required">*</span></label>
        <ng-select placeholder="Select" class="input-form-select" formControlName="premiumCurrency" [items]="dropPremiumCurrencyList"
        bindValue="Code" bindLabel="CodeDescription" (change)="onChangeCurrencyDropdown()">
      </ng-select>
        <div class="input-form-error" *ngIf="(quoteF.premiumCurrency.errors && submitted) || (!quoteF.premiumCurrency.valid && quoteF.premiumCurrency.touched)">
          <div *ngIf="quoteF.premiumCurrency.errors?.required" class="error-text">
            This field is required
          </div>
        </div>
      </div>
    </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Goods Description<span class="text-required">*</span></label>
          <div class="input-form-box">
            <textarea  class="input-form-control3 without-icon" rows="3"  formControlName="goodsDescript"></textarea>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Fragile</label>
          <div class="input-form-radio-box">
            <div class="radio-toolbar">
              <input id="fragile-yes" type="radio" name="fragileYN" value="on"
                formControlName="fragileYN">
              <label for="fragile-yes">Yes</label>
              <input type="radio" id="fragile-no" name="fragileYN" value="off"
                formControlName="fragileYN">
              <label for="fragile-no">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="input-control-container">
          <label class="input-form-label">Excess Description</label>
          <div class="input-form-box">
            <textarea type="text" class="input-form-control without-icon" formControlName="excessDescription"></textarea>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-12">
        <div class="middle-line">
           Currency Details
        </div>
      </div> -->
      <div class="col-12 col-md-4 col-lg-4" *ngIf="userDetails.RegionCode=='100020'">
        <div class="input-control-container">
          <label class="input-form-label">UCR Number</label>
          <div class="input-form-box">
            <input type="text" class="input-form-control without-icon" formControlName="UCRNumber">
          </div>
        </div>
      </div>

  </div>
</form>

<ng-template #myModal2 let-modal>
  <div class="modal-dialog modal-dialog-scrollable modal-content m-0 p-0" role="document">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vessel Search</h5>
        <button type="button" #myModalClose class="close btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <ng-container>
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4" *ngIf="values!='None'">
                <div class="input-control-container">
                  <label class="input-form-label">Vessel Name<span class="text-required">*</span></label>
                  <input type="text" style="height: 40px !important;
                  width: 100% !important;" class="input-form-control2 with-icon" maxlength="100" [(ngModel)]="VesselName" (keyup)="onGetVesselDropdownList()" placeholder="Enter Vessel Name">
                  <div class="input-form-error" *ngIf="titleError">
                    <div class="error-text">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch3" [checked]="values=='None'" (change)="none($event.target.checked)">
                  <label class="custom-control-label" for="switch3">&nbsp;Other</label>
                </div>
                <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="values" (change)="none(value)">
                  <mat-radio-button value="others">None</mat-radio-button>
                  <mat-radio-button value="None">Others</mat-radio-button>
                </mat-radio-group> -->
                
                 
                
              </div>
            </div>
            <div class="row" *ngIf="values=='None'">
              <div class="col-md-5 col-xl-5 col-lg-5 col-12">
                <div class="input-control-container mt-2" >
                  <label class="input-form-label">Vessel Name</label>
                    <div class="input-form-box">
                    <input type="text" style="width:110% !important;" placeholder="Vessel Name" class="input-form-control without-icon" maxlength="100" [(ngModel)]="VesselNames">
                    </div>
                    <div *ngIf="manshow">
                      <div style="color:red;font-size:14px !important;"> Please Fill Vessel Name</div>
                             </div>
                </div>
                
              </div>
             <div class="col-12 col-md-2 col-xl-2 col-lg-2">
              <div class="input-control-container mt-2" *ngIf="values=='None'">
                     <label class="input-form-label">Manufacture Year</label>
                    <div class="input-form-box">
                        <input type="text" placeholder="Manufacture Year" class="input-form-control without-icon" maxlength="10" [(ngModel)]="ManufactureYear">
                    </div>
                    <div *ngIf="manshow">
                      <div style="color:red;font-size:14px !important;"> Please Fill Manufacute Year</div>
                             </div>
                    </div>
              </div>
            
             </div>
            <div class="row" *ngIf="!newshow">
              <ng-container *ngIf="vesselSearchList.length!=0">
                <app-grid-table [cols]="columnHeader" [data]="vesselSearchList" [filterValue]="filterValue" (onSelectCustomer)="onSelectCustomer($event,$event.checked,modal)">
                </app-grid-table>
              </ng-container>
              <div *ngIf="manshows">
              <div style="color:red;font-size:14px !important;"> Please Select One Vessel Name</div>
              </div>

              <!-- <ng-container *ngIf="vesselSearchList.length==0">
                 No Records Found
              </ng-container> -->
            </div>
          </ng-container>
          
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-warning" *ngIf="vesselSearchList.length!=0" (click)="clearSearch()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="submits(modal)">Submit</button>
      </div>
  </div>
</ng-template>