<div [formGroup]="extraCoverForm" class="bg-white p-3">


    <div class="row">
      
        <!-- Mode of  Transport -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Mode of  Transport<span class="text-required">*</span></label>
            <div class="input-form-box">
              <ng-select class="input-form-select" name="ModeOfTransportId" formControlName="ModeOfTransportId" [items]="transportList" bindValue="Code" bindLabel="CodeDescription">
              </ng-select>
            </div>
          </div>
        </div>
        <mat-error
          *ngIf="extraCoverForm.controls['ModeOfTransportId'].errors?.['required'] && (extraCoverForm.controls['ModeOfTransportId'].dirty || extraCoverForm.controls['ModeOfTransportId'].touched)">
          Please choose Mode of  Transport</mat-error>
  
      </div>
      <!-- / Mode of  Transport -->
  
      <!-- Extra Cover Name -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Extra Cover Name<span class="text-required">*</span></label>
            <div class="input-form-box">
              <input type="text" class="input-form-control without-icon" name="extraCoverName" formControlName="extraCoverName">
            </div>
          </div>
        </div>
        <mat-error
          *ngIf="extraCoverForm.controls['extraCoverName'].errors?.['required'] && (extraCoverForm.controls['extraCoverName'].dirty || extraCoverForm.controls['extraCoverName'].touched)">
          Please Enter Extra Cover Name</mat-error>
      </div>
      <!-- / Extra Cover Name -->
    </div>
  
    <div class="row">
      
        <!-- REMARKS -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Remarks</label>
            <div class="input-form-box">
              <input type="text" class="input-form-control without-icon" formControlName="remarks">
            </div>
  
          </div>
        </div>
      </div>
      <!-- /REMARKS -->
  
      <!-- Core Application Code -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
          <div class="input-control-container">
            <label class="input-form-label">Core Application Code <span class="text-required">*</span></label>
            <div class="input-form-box">
              <input type="text" class="input-form-control without-icon" name="coreApplicationCode" formControlName="coreApplicationCode">
            </div>
  
          </div>
          <mat-error
            *ngIf="extraCoverForm.controls['coreApplicationCode'].errors?.['required'] && (extraCoverForm.controls['coreApplicationCode'].dirty || extraCoverForm.controls['coreApplicationCode'].touched)">
            Please Enter Core Application Code</mat-error>
  
        </div>
      </div>
      <!-- / Core Application Code -->
    </div>
  
  
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="customer-search-container">
            <div class="input-control-container">
                <label class="input-form-label">Effective Date</label>
                <div class="input-form-box">
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker" [min]="min" formControlName="EffectiveDateStart">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
  
            </div>
        </div>
    </div>
      <!-- STATUS -->
      <div class="col-12 col-md-6 col-lg-6">
        <div class="input-control-container">
          <label class="input-form-label">Status<span class="text-required">*</span></label>
          <div class="input-form-radio-box">
            <div class="radio-toolbar">
              <input id="fac-yes" type="radio" name="status" value="Y" formControlName="status">
              <label for="fac-yes">Active</label>
              <input type="radio" id="fac-no" name="status" value="N" formControlName="status">
              <label for="fac-no">DeActive</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mt-3 text-center">
      <button mat-raised-button style="margin-left: 10px;" color="accent" (click)="goBack()">Back</button>
      <button mat-raised-button style="margin-left: 20px" color="primary" (click)="onSave()">Save</button>
    </div>
  
  </div>